<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetInformationController</servlet-name>
  	<display-name>GetInformationController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetInformationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddInformationController</servlet-name>
  	<display-name>AddInformationController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddInformationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCreditcardController</servlet-name>
  	<display-name>AddCreditcardController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddCreditcardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCreditcardCont</servlet-name>
  	<display-name>AddCreditcardCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddCreditcardCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCreditcardCont</servlet-name>
  	<display-name>DeleteCreditcardCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.DeleteCreditcardCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyCreditCardCont</servlet-name>
  	<display-name>ModifyCreditCardCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.ModifyCreditCardCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyCreditcardCont</servlet-name>
  	<display-name>ModifyCreditcardCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.ModifyCreditcardCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAddressCont</servlet-name>
  	<display-name>AddAddressCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddAddressCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAddressCont</servlet-name>
  	<display-name>DeleteAddressCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.DeleteAddressCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetBookingInformationCont</servlet-name>
  	<display-name>GetBookingInformationCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetBookingInformationCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBookingIDCont</servlet-name>
  	<display-name>DeleteBookingIDCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.DeleteBookingIDCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchFlightCont</servlet-name>
  	<display-name>SearchFlightCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.SearchFlightCont</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookFlightCont</servlet-name>
  	<display-name>BookFlightCont</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.BookFlightCont</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetInformationController</servlet-name>
  	<url-pattern>/GetInformationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetInformationController</servlet-name>
  	<url-pattern>/getInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddInformationController</servlet-name>
  	<url-pattern>/AddInformationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddInformationController</servlet-name>
  	<url-pattern>/addInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCreditcardController</servlet-name>
  	<url-pattern>/AddCreditcardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCreditcardController</servlet-name>
  	<url-pattern>/AddCreditcard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCreditcardCont</servlet-name>
  	<url-pattern>/AddCreditcardCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCreditcardCont</servlet-name>
  	<url-pattern>/addCreditcarddetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCreditcardCont</servlet-name>
  	<url-pattern>/DeleteCreditcardCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCreditcardCont</servlet-name>
  	<url-pattern>/deleteCreditcarddetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyCreditCardCont</servlet-name>
  	<url-pattern>/ModifyCreditCardCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyCreditCardCont</servlet-name>
  	<url-pattern>/modifyCreditcard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyCreditcardCont</servlet-name>
  	<url-pattern>/ModifyCreditcardCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyCreditcardCont</servlet-name>
  	<url-pattern>/modifyCreditcarddetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAddressCont</servlet-name>
  	<url-pattern>/AddAddressCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAddressCont</servlet-name>
  	<url-pattern>/addAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAddressCont</servlet-name>
  	<url-pattern>/DeleteAddressCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAddressCont</servlet-name>
  	<url-pattern>/deleteAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBookingInformationCont</servlet-name>
  	<url-pattern>/GetBookingInformationCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBookingInformationCont</servlet-name>
  	<url-pattern>/getBookingInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookingIDCont</servlet-name>
  	<url-pattern>/DeleteBookingIDCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookingIDCont</servlet-name>
  	<url-pattern>/getBookingtodelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchFlightCont</servlet-name>
  	<url-pattern>/SearchFlightCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchFlightCont</servlet-name>
  	<url-pattern>/searchFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookFlightCont</servlet-name>
  	<url-pattern>/BookFlightCont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookFlightCont</servlet-name>
  	<url-pattern>/bookFlight</url-pattern>
  </servlet-mapping>
</web-app>
